<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <!-- BEGIN INBOX -->
    <div class="col-md-12">
      <div class="grid email">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN INBOX MENU -->
            <div class="col-md-3">
              <h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox</h2>
              <hr>
              <div>
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox ({{ this.total }})</a></li>
                </ul>
              </div>
            </div>
            <!-- END INBOX MENU -->

            <!-- BEGIN INBOX CONTENT -->
            <div class="col-md-9">
              <div class="row">

                <div class="padding"></div>

                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let contact of contacts">
                        <input type="hidden" name="id" value="{{ contact._source._id }}">
                        <td class="action"><i class="fa fa-star"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name">{{ contact._source.email }}</td>
                        <td class="subject">{{ contact._source.subject }}</td>
                        <!-- <td class="message">{{ contact._source.message }}</td> -->
                        <td class="time">08:30 PM</td>

                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#fetch"
                        (click)="findmsg(contact._id)">
                          <i class="fa fa-envelope"></i>
                        </button>
                        <button type="submit" (click)="delete(contact._id)" class="btn btn-danger"><i
                            class="fa fa-trash"></i></button>

                        <div class="modal fade" id="fetch" tabindex="-1"  role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="form-signin-heading">Received Email</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="modal-body">

                                <div class="form-group">
                                  <label>From:</label>
                                  <input class="form-control" type="text" readonly value="{{ onecontact.email }}">
                                </div>
                                <div class="form-group">
                                  <label>Subject:</label>
                                  <input class="form-control" type="text" readonly value="{{ onecontact.subject }}">
                                </div>
                                <hr>
                                <div class="form-group">
                                  <label>Message:</label>
                                  <textarea class="form-control" type="text" readonly rows="4" cols="10">{{ onecontact.message }}</textarea>
                                </div>


                              </div>

                            </div>
                          </div>
                        </div>

                    </tbody>
                  </table>
                </div>


              </div>
              <!-- END INBOX CONTENT -->


            </div>
          </div>
        </div>
      </div>
      <!-- END INBOX -->
    </div>
  </div>
